<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Muscle"
        tools:targetApi="31">
        <activity
            android:name=".MuscleAbdominals3"
            android:exported="false"
            android:parentActivityName=".MuscleAbdominals2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleAbdominals2"
            android:exported="false"
            android:parentActivityName=".MuscleAbdominals">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleAbdominals"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleCalvesRight3"
            android:exported="false"
            android:parentActivityName=".MuscleCalvesRight2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleCalvesRight2"
            android:exported="false"
            android:parentActivityName=".MuscleCalvesRight">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleCalvesRight"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleCalvesLeft3"
            android:exported="false"
            android:parentActivityName=".MuscleCalvesLeft2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleCalvesLeft2"
            android:exported="false"
            android:parentActivityName=".MuscleCalvesLeft">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleCalvesLeft"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleTrapsRight3"
            android:exported="false"
            android:parentActivityName=".MuscleTrapsRight2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleTrapsRight2"
            android:exported="false"
            android:parentActivityName=".MuscleTrapsRight">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleTrapsRight"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleTrapsLeft3"
            android:exported="false"
            android:parentActivityName=".MuscleTrapsLeft2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleTrapsLeft2"
            android:exported="false"
            android:parentActivityName=".MuscleTrapsLeft">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleTrapsLeft"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleObliquesRight3"
            android:exported="false"
            android:parentActivityName=".MuscleObliquesRight2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleObliquesRight2"
            android:exported="false"
            android:parentActivityName=".MuscleObliquesRight">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleObliquesRight"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleObliquesLeft3"
            android:exported="false"
            android:parentActivityName=".MuscleObliquesLeft2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleObliquesLeft2"
            android:exported="false"
            android:parentActivityName=".MuscleObliquesLeft">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleObliquesLeft"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleQuadRight3"
            android:exported="false"
            android:parentActivityName=".MuscleQuadRight2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleQuadRight2"
            android:exported="false"
            android:parentActivityName=".MuscleQuadRight">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleQuadRight"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleQuadleft3"
            android:exported="false"
            android:parentActivityName=".MuscleQuadleft2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleQuadleft2"
            android:exported="false"
            android:parentActivityName=".MuscleQuadleft">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleQuadleft"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleForearmsRightv3"
            android:exported="false"
            android:parentActivityName=".MuscleForearmsRightv2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleForearmsRightv2"
            android:exported="false"
            android:parentActivityName=".MuscleForearmsRight">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleForearmsRight"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleForearmsv3"
            android:exported="false"
            android:parentActivityName=".MuscleForearmsv2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleForearmsv2"
            android:exported="false"
            android:parentActivityName=".MuscleForearms">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleForearms"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleBicepsv4"
            android:exported="false"
            android:parentActivityName=".MuscleBicepsv3">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleBicepsv3"
            android:exported="false"
            android:parentActivityName=".MuscleBicepsv2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleBicepsv2"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleBiceps3"
            android:exported="false"
            android:parentActivityName=".MuscleBiceps2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleBiceps2"
            android:exported="false"
            android:parentActivityName=".MuscleBiceps">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleBiceps"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleEgzersiz3"
            android:exported="false"
            android:parentActivityName=".MuscleEgzersiz2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleEgzersiz2"
            android:exported="false"
            android:parentActivityName=".MuscleChest">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleChest"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Egzersiz3"
            android:exported="false"
            android:parentActivityName=".Egzersiz2">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Egzersiz2"
            android:exported="false"
            android:parentActivityName=".MuscleShoulder">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleShoulder2"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MuscleShoulder"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>